%article.video_category
  - sorted = @results.sort_by {|vid_obj| vid_obj.title}.in_groups_of(6, false)
    - sorted.each do |r|
    %header
      %h3= link_to "Row"
    .videos.row
    - r.each do |v|      
      .video.col-sm-2
        = link_to video_path(v.id) do
          %img(src="#{v.small_cover_url}")
          = content_tag :p, v.title.titleize
